/* Start Variables */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.3s;
}
/* End Variables */
/* start globe rules */
* {
  box-sizing: border-box;
  text-transform: capitalize;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Work Sans', sans-serif;
}
/* end globe rules */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Components */
.special-heading {
  color: #ebeced;
  font-size: 100px;
  text-align: center;
  font-weight: 800;
  letter-spacing: -3px;
  margin: 0;
}
.special-heading + p {
  margin: -30px 0 0;
  font-size: 20px;
  text-align: center;
  color: #797979;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
.special-button {
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--main-color);
  color: white;
  position: fixed;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}
.special-button:hover {
  background-color: #0dad9d;
}
/* End Components */
/* start header  */
.header {
  padding: 10px ;
}
.header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container img {
  width: 60px;
}
.header .links {
  position: relative;
}
.header .links .icon:hover span:nth-child(2) {
  width: 100%;
}
.header .links .icon {
  width: 30px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.header .links .icon span {
  background-color: #333;
  margin-bottom: 5px;
  height: 2px;
}
.header .links .icon span:first-child {
  width: 100%;
}
.header .links .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}
.header .links .icon span:last-child {
  width: 100%;
}
.links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #f6f6f6;
  position: absolute;
  right: 0%;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.links ul::after {
  content: "";
  top: -20px;
  border: 10px solid black;
  position: absolute;
  border-color: transparent transparent #f6f6f6 transparent ;
  right: 5px;
}
.links ul li a {
  text-decoration: none;
  color: #333;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}
.links ul li:hover a {
  padding-left: 15px;
}
.links ul li {
  padding: 10px;
}
.links ul li:not(last-child) {
  border-bottom: 1px solid #ccc;
}
.header .links:hover ul {
  display: block;
}
/* end header  */
/* start landing  */
.landing {
  background-image: url(/images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 44px);
  position: relative;
}
.landing .intro-text h1 {
  margin: 0px !important;
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
.landing .intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  -webkit-transform: translate(-50% , -50%);
  -moz-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  -o-transform: translate(-50% , -50%);
  text-align: center;
  width: 390px;
  max-width: 100%;
}
/* end landing  */
/* start feathers  */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .feet {
  text-align: center;
  line-height: 1.8;
}
.features .feet .h3 {
  font-size: 800px;
}
.features .feet i {
  color: var(--main-color);
}
.features .feet i:first-child {
  font-size: 45px;
}
.features .feet p {
  line-height: 1.8;
  font-size: 17px;
  color: #777;
}
/* end feathers  */
/* start services */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .col .image-column {
  width: 400px;
}
.services .services-content {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.services .services-content .srv {
  display: flex;
  margin-bottom: 40px;
}
.services .services-content .image-column {
  position: relative;
  text-align: center;
}
.services .services-content .image-column::after {
  content: "";
  width: 130px;
  background-color: var(--secondary-color);
  height: calc(100% + 100px);
  position: absolute;
  right: 0%;
  top: -50px;
  z-index: -1;
}
.services .services-content .image img {
  width: 260px;
}
@media (max-width: 767px) {
  .services  .services-content .srv {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 1199px) {
  .services  .services-content .image img {
    display: none;
  }
  .services  .services-content .image-column::after {
    display: none;
  }
}
.services  .services-content .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services  .services-content .srv .text {
  flex: 1;
}
.services  .services-content .srv .text h3 {
  margin-top: 0%;
  font-weight: 800;
}
.services  .services-content .srv .text p {
  color: #333;
  font-weight: 300;
  line-height: 1.8;
}
/* end services */
/* start portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.portfolio .portfolio-content .card {
  margin-top: 100px;
  background-color: white;
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
  box-shadow: 0 8px 15px 0px #777;
}
.portfolio .portfolio-content .card:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}
.portfolio .portfolio-content .card:hover img {
  filter: grayscale(0%);
  -webkit-filter: grayscale(0%);
}
.portfolio .portfolio-content img {
  width: 100%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  transition: var(--main-duration);
  -webkit-transition: var(--main-duration);
  -moz-transition: var(--main-duration);
  -ms-transition: var(--main-duration);
  -o-transition: var(--main-duration);
}
.portfolio .portfolio-content image:last-child img{
  height: 238px;
}
.portfolio .portfolio-content .card .text {
  padding: 20px;
}
.portfolio .portfolio-content .card .text h3 {
  margin-top: 0%;
}
.portfolio .portfolio-content .card .text p {
  margin-bottom: 0;
  line-height: 1.8;
  font-weight: 300;
  color: #333;
}
/* end portfolio */
/* start about */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding) + 60px);
  background-color: white;
  z-index: -2;
}
.about .about-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
  z-index: 1;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
}
.about .about-content .image {
  width: 250px;
  height: 350px;
  position: relative;
  background-color: transparent;
  z-index: 4;
}
@media (max-width: 991px) {
  .about .about-content .image {
    margin: 0 auto 50px;
  }
}
.about .about-content .image img {
  width: 100%;
}
.about .about-content .image-column::after {
  content: "";
  background-color: #ebeced;
  width: 80px;
  height: calc(333.2px + 80px);
  position: absolute;
  top: -40px;
  left: -15px;
  z-index: -1;
}
.about .about-content .image::before {
  content: "";
  width: 102px;
  height: 238px;
  border-left: 80px solid var(--main-color);
  border-bottom: 66px solid var(--main-color);
  position: absolute;
  top: -40px;
  right: -126px;
  z-index: -1;
}
@media (max-width: 991px) {
  .about .about-content .image::before, 
  .about .about-content .image::after {
    display: none;
  }
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-child {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  border: 1px solid var(--main-color);
}
.about .about-content .text p:last-child {
  line-height: 2;
  color: #777;
}
/* end about */
/* start contact */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  margin-bottom: 10px;
}
.contact .info .link {
  display: block;
  font-size: 35px;
  font-weight: 800;
  color: var(--main-color);
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .contact .info .label, 
  .contact .info .link {
    font-size: 25px;
  }
}
.contact .info .social {
  font-size: 15px;
  color: #777;
}
.contact .info .social i {
  font-size: 20px;
  color: black;
  margin-left: 5px;
}
/* end contact */
/* start footer */
.footer {
  background-color: var(--secondary-color);
  padding-top: calc(var(--section-padding) - 40px);
  padding-bottom: calc(var(--section-padding) - 40px);

}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.footer .container .footer-content p {
  color: white;
  font-size: 22px;
}
.footer .container .footer-content span {
  color: var(--main-color);
  font-weight: bold;
}
@media (max-width: 767px) {
  .footer .container .footer-content p {
    font-size: 16px;
  }
}
/* end footer */